.card-links {
  color: var(--text-color);
}
.film_title {
  font-size: 12px;
  line-height: 1.34;
  text-transform: uppercase;
  width: 244px;
  padding-top: 12px;
}
.film_genre {
  font-size: 12px;
  line-height: 1.34;
  color: var(--color-accent);
}

