:root {
  --font-main: 'Roboto', sans-serif;
  --color-main: #000000;
  --color-secondary: #8c8c8c;
  --color-accent: #ff6b08;
  --color-logoIcon: #818181;
  --color-hdr-main: #ffffff;
  --color-hdr-warning: #ff001b;
}
