:root {
  --font-main: 'Roboto', sans-serif;
  --color-main: #000000;
  --color-secondary: #8c8c8c;
  --color-accent: #ff6b08;
  --color-accent-link: rgba(255, 107, 8, 0.7);
  --color-logoIcon: #818181;
  --color-hdr-main: #ffffff;
  --color-footer-backgrd: #f7f7f7;
  --color-secondary-text: #545454;
  --color-hdr-warning: #ff001b;
  --color-back-pagination: #f7f7f7;
}
