:root {
  --font-main: 'Roboto', sans-serif;
  --color-main: #000000;
  --color-secondary: #8c8c8c;
  --color-accent: #ff6b08;
  --color-secondary-text: #545454;
  --footer-background-color: #f7f7f7;
}
