<header class="header  header-home">

    <!-- LOGO  -->
    <a href="./index.html" class="link header-logo">
        <svg class="logo-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-logo" ></use>
        </svg>

        <p class="logo-word">Filmoteka</p>
    </a>

    <!-- AUTHORIZATION buttons -->
   <ul class="auth-btns__list" >
       <li class="auth-btns__item">
           <button class="header__btn auth-btns__btn auth-btns__btn--signin" type="button" data-name="signIn">Sign In</button>
       </li>
       <li class="auth-btns__item">
        <button class="header__btn auth-btns__btn" type="button" data-name="signUp">Sign Up</button>
       </li>
   </ul>

    <!-- NAV buttons -->
    <ul class="header-nav" id="js-nav">
        <li class="header-nav__item">
            <button class="header-nav__btn header__btn current-page js-nav-btn" data-name="home">Home</button>
        </li>
        <li class="header-nav__item">
            <button class="header-nav__btn header__btn js-nav-btn" data-name="myLibrary">My Library</button>
        </li>
    </ul>

    <!-- Dynamicly changing content though JS (Either Search form OR Library buttons) -->
    <div class="js-content-box">

        <!-- Search form -->
        <div class="search-form__wrapper">
            <form class="search-form" name="search-form" , autocomplete="on">

                <input class="search-form__input" type="text" placeholder="Movie Search..." />

                <button class="search-form__submit" type="submit">

                    <svg class="search-icon" width="12" height="12">
                        <use href="./images/sprite.svg#icon-search"></use>
                    </svg>

                </button>

            </form>
        </div>

        <!-- Libriry buttons -->
        <ul class="library-btns__list is-hidden js-library-btns">
            <li class="library-btns__item" >
                <button class="library-btns__btn library-btns--watch">Watch</button>
            </li>
            <li class="ibrary-btns__item" >
                <button class="library-btns__btn library-btns--queue accent-btn">Queue</button>
            </li>
        </ul>

    </div>

    <!-- Modal SINGN IN window -->

    <div class="backdrop is-hidden">
        <form>
            <label>
                Email
                <input type="email">
            </label>
        
            <label>
                Password
                <input type="password">
            </label>
        
            <button type="submit">Log In</button>
        </form>
    </div>

    <!-- Modal REGISTER window -->

</header>