<header class="header">
    <div class="header-container header-home">


    <!-- LOGO  -->
    <a href="./index.html" class="link header-logo">
        <svg class="logo-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
    
        <p class="logo-word">Filmoteka</p>
    </a>

    <ul class="header-localization ">
        <li class="header-localization__item">
            <button class="header-localization__button header-localization__english"></button>
        </li>
        <li class="header-localization__item">
            <button class="header-localization__button header-localization__russian"></button>
        </li>
        <li class="header-localization__item">
            <button class="header-localization__button header-localization__ukrainian"></button>
        </li>
    </ul>

    <!-- AUTHORIZATION buttons -->
   <ul class="auth-btns__list" >
       <li class="auth-btns__item">
           <button class="header__btn auth-btns__btn auth-btns__btn--signin del-btn__signin" type="button" data-locale="signIn" data-name="signIn">Sign In</button>
           <span class="current-user header__btn auth-btns__btn auth-btns__btn--signin"></span>
       </li>
       <li class="auth-btns__item">
            <button class="header__btn auth-btns__btn del-btn__signup" type="button" data-locale="signUp" data-name="signUp">Sign Up</button>
            <button class="sign-out-btn header__btn auth-btns__btn" type="button">Sign Out</button>
       </li>
   </ul>

    <!-- NAV buttons -->
    <ul class="header-nav" id="js-nav">
        <li class="header-nav__item">
            <button class="header-nav__btn header__btn current-page js-nav-btn" data-locale="home" data-name="home">Home</button>
        </li>
        <li class="header-nav__item">
            <button class="header-nav__btn header__btn js-nav-btn" data-locale="myLibrary" data-name="myLibrary">My Library</button>
        </li>
    </ul>
    
    <!-- Dynamicly changing content though JS (Either Search form OR Library buttons) -->
    <div class="js-content-box background-content">
    
        <!-- Search form -->
        <div class="search-form__wrapper">
            <form class="search-form" name="search-form" , autocomplete="on">

                <input  class="search-form__input" type="text" name="searchQuery" placeholder="Movie Search..." data-locale="searchingPlaceHolder" />

                <button class="search-form__submit" type="submit">
                    <svg class="search-icon" width="12" height="12">
                        <use href="./images/sprite.svg#icon-search"></use>
                    </svg>
                </button>
    
            </form>
            
            <div class="search-result-message"></div>
    
                    
                
        </div>
    
        <!-- Libriry buttons -->
        <ul class="library-btns__list is-hidden js-library-btns">
            <li class="library-btns__item" >
                <button  class="form-btn library-btns__btn library-btns--watch " data-locale="watch">Watch</button>
            </li>
            <li class="ibrary-btns__item" >
                <button class="form-btn library-btns__btn library-btns--queue accent-btn" data-locale="queue">Queue</button>
            </li>
        </ul>
    
    </div>
    
    <!-- Modal SINGN IN window -->
    
    <div class="backdrop is-hidden js-modal" data-modal="auth-in">
        <form class="signin-form js-form">
            <div class="signin-heading__wrapper auth-modal__heading">
                <h2 class="signin-form__heading" data-locale="signIn">Sign in</h2>
            </div>
    
            <label class="signin-form__label" for="signin-email">
                <span class="is-hidden">Username</span>
            </label>
                <div class="signin-input__wrapper">
                    <svg class="email-icon" width="12" height="12">
                        <use href="./images/sprite.svg#icon-user"></use>
                    </svg>
                    <input class="signin-input__email" id="signin-email" type="text" placeholder="Username">
                </div>
            
    
            <label class="signin-form__label" for="signin-pwd">
                <span class="is-hidden" data-locale="password">Password</span>
            </label>
                <div class="signin-input__wrapper">
                    <svg class="key-icon" width="12" height="12">
                        <use href="./images/sprite.svg#icon-key"></use>
                    </svg>
                    <input class="signin-input__psw" data-locale="password" id="signin-pwd" type="password" placeholder="Password">
                </div>
            
    
            <div class="signin-form__massage">
                <p> <span data-locale="haveYouAccount">Don't have an account?</span>  <button class="header__btn form-massage__btn accent" data-locale="signUp" data-name="signUp">Sign
                    Up</button> .</p>
            </div>
    
            <button class="form-btn" type="submit" id="form-btn__log" data-locale="logIn">Log In</button>
            <button class="modal-close signin-form__close" type="button">
                <svg class="close-icon" width="12" height="12">
                    <use href="./images/sprite.svg#icon-close"></use>
                </svg>
            </button>
        </form>
    </div>
    
    <!-- Modal REGISTER window -->
    
    <div class="backdrop is-hidden js-modal" data-modal="auth-reg">
        <form class="reg-form js-form backdrop-content">
            <div class="reg-heading__wrapper auth-modal__heading">
                <h2 class="reg-form__heading" data-locale="signUp">Sign up</h2>
            </div>
    
            <div class="reg-form__massage--top">
                <p><span data-locale="havingAccount">Already have an account?</span><button class="header__btn accent form-massage__btn" data-name="signIn" data-locale="signIn">Sign
                        in</button>.</p>
            </div>
    
            <label class="reg-form__name" for="reg-name" >
                <span class="is-hidden">Name</span>
            </label>
                <div class="reg-input__wrapper">
                    <svg class="email-icon" width="12" height="12">
                        <use href="./images/sprite.svg#icon-user"></use>
                    </svg>
                    <input class="reg-input__email" id="reg-name" type="text" placeholder="Enter name">
                </div>
            
    
            <label class="reg-form__label" for="reg-email" >
                <span class="is-hidden">Email</span>
            </label>
                <div class="reg-input__wrapper">
                    <svg class="email-icon" width="12" height="12">
                        <use href="./images/sprite.svg#icon-email"></use>
                    </svg>
                    <input class="reg-input__email" id="reg-email" type="email" placeholder="Enter Email">
                </div>
            
    
            <label class="reg-form__label" for="reg-pwd">
                <span class="is-hidden">Password</span>
            </label>
                <div class="reg-input__wrapper">
                    <svg class="key-icon" width="12" height="12">
                        <use href="./images/sprite.svg#icon-key"></use>
                    </svg>
                    <input class="reg-input__psw" id="reg-pwd" type="password" placeholder="Create password">
                    <div id="block_check"></div>
                </div>
            
    
            <label class="reg-form__label" for="reg-repeat-pwd">
                <span class="is-hidden">Password</span>
            </label>
                <div class="reg-input__wrapper">
                    <svg class="key-icon" width="12" height="12">
                        <use href="./images/sprite.svg#icon-key"></use>
                    </svg>
                    <input class="reg-input__psw" id="reg-repeat-pwd" type="password" placeholder="Repeat password">
                </div>
            
    
            <div class="reg-form__massage--bottom">
                <p> <span data-locale="doYouAgree">By creating an account you agree to our</span>  <a class="accent" data-locale="privacy" href="#">Terms & Privacy</a>.</p>
            </div>
    
    
            <button class="form-btn" type="submit" id="form-btn__reg" data-locale="register">Register</button>
            <button class="modal-close reg-form__close" type="button" data-regFormClose>
                <svg class="close-icon" width="12" height="12">
                    <use href="./images/sprite.svg#icon-close"></use>
                </svg>
            </button>
        </form>
    </div>

    <!-- Это было для эфферкта наезжания снизу бекдропа а сверху модалки, но потом я передумал -->

    <!-- <div class="backdrop-overlay is-hidden"></div>  -->
    

    </div>
</header>