<header class="header container">

    <!-- LOGO  -->
    <a href="./index.html" class="link header-logo">
        <svg class="logo-icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-logo" ></use>
        </svg>

        <p class="logo-word">Filmoteka</p>
    </a>

    <!-- AUTHORIZATION -->


    <!-- NAV buttons -->
    <ul class="nav" id="js-nav">
        <li class="nav-item">
            <button class="nav-button current-page" data-name="home">Home</button>
        </li>
        <li class="nav-item">
            <button class="nav-button " data-name="myLibrary">My Library</button>
        </li>
    </ul>

    <!-- Dynamicly changing content though JS (Either Search form OR Library buttons) -->
    <div class="js-content-box">

        <!-- Search form -->
        <div class="form-wrapper">
            <form class="search-form" name="search-form" , autocomplete="on">

                <input class="search-input" type="text" placeholder="Movie Search..." />

                <button class="submit-search" type="submit">

                    <svg class="search-icon" width="12" height="12">
                        <use href="./images/sprite.svg#icon-search"></use>
                    </svg>

                </button>

            </form>
        </div>

        <!-- Libriry buttons -->
        <ul class="library-buttons is-hidden">
            <li><button class="button watch-button">Watch</button></li>
            <li><button class="button accent-button queue-button">Queue</button></li>
        </ul>

    </div>

    <!-- Modal SINGN IN window -->
    <!-- Modal REGISTER window -->

</header>