<section class="sort-options" >
    <div class="sort-container">
                <form class="sort-form" >
                    <div class="sort-form__select " data-state="" >
                        <div class="sort-form__select__title" data-default="Genres" data-value="" data-sort="genere" >Genres</div>
                        <div class="sort-form__select__content js-genre-list"></div>
                    </div>

                    <div class="sort-form__select" data-state="">
                        <div class="sort-form__select__title" data-default="Year" data-value="" data-sort="year">Year</div>
                        <div class="sort-form__select__content js-year-list"></div>
                    </div>

                    <div class="sort-form__select" data-state="">
                        <div class="sort-form__select__title" data-default="Raiting" data-value="" data-sort="rating">Raiting</div>
                        <div class="sort-form__select__content js-rating-list"> </div>
                    </div>

                    <button type="reset" class="sort-form__reset">Reset</button>
                </form>
    </div>
</section>