/* Colors
#FF001B - red massage under search-input
#FFFFFF - text-color for header
#FF6B08 - orange underline for nav-manu
#818181 - logo color
*/

.no-scroll {
  touch-action: none;
  overflow: hidden;
  overscroll-behavior: none;
}

.is-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header__btn {
  background: none;
  color: var(--color-hdr-main);
  border-style: none;
  cursor: pointer;

  padding: 0;

  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17em;

  &:hover {
    color: var(--color-accent);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form-btn {
  padding: auto;
  min-width: 130px;
  min-height: 44px;

  text-align: center;

  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17em;

  color: var(--color-hdr-main);
  background: none;
  border-color: var(--color-hdr-main);
  border-radius: 5px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.accent {
  color: var(--color-accent);
  text-decoration: none;
}

.form-massage__btn {
  text-transform: none;
  font-size: 14px;
}

.header-container {
  position: relative;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;

  padding: 20px;
  padding-left: 7%;
  padding-right: 7%;

  height: 230px;
  width: 100%;

  background-color: var(--color-primery);

  background-size: cover;
  background-repeat: no-repeat;

  color: var(--color-hdr-main);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17em;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 71px;
    padding-right: 71px;
  }

  @media screen and (min-width: 1024px) {
    width: 1024px;
  }
}

.header-library {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.56)),
    url(../images/hdr-library-tablet-min.jpeg);

  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.56)),
      url(../images/hdr-library-tablet-min.jpeg);

    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 1024px) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.56)),
      url(../images/hdr-library-desktop-min.jpeg);

    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.header-home {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.56)),
    url(../images/hdr-home-mobile-min.jpeg);

  @media screen and (min-width: 768px) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.56)),
      url(../images/hdr-home-tablet-min.png);

    background-size: cover;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: 1024px) {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.56)),
      url(../images/hdr-home-desktop-min.jpeg);

    background-size: cover;
    background-repeat: no-repeat;
  }
}

.header__btn {
  background: none;
  color: #ffffff;
  border-style: none;
  cursor: pointer;

  padding: 0;

  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17em;
}

.header-logo {
  position: absolute;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 10px;

  top: 46px;
  left: 10%;

  //   fill: var(--color-logoIcon);

  @media screen and (min-width: 768px) {
    top: 36px;
    left: 51px;
  }
}

.logo-icon {
  margin-right: 0px;
  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }
}

.logo-word {
  display: none;

  margin: 0;

  font-size: 30px;
  font-weight: 500;
  color: #ffffff;

  &:hover {
    color: var(--color-accent);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.form-btn {
  padding: auto;
  min-width: 130px;
  min-height: 44px;

  text-align: center;

  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17em;

  color: #ffffff;
  background: none;
  border-color: #ffffff;
  border-radius: 5px;

  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));

  cursor: pointer;
}

.accent {
  color: #ff6b08;
  text-decoration: none;
}

.form-massage__btn {
  text-transform: none;
  font-size: 14px;
}

// authorization

.auth-btns__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 30px 20px 0 20px;

  @media screen and (min-width: 768px) {
    padding: 30px 71px 0 71px;
  }
}

.auth-btns__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.auth-btns__btn {
  text-transform: none;
}

.auth-btns__btn--signin {
  position: relative;
  &:after {
    content: '';
    color: var(--color-hdr-main);
    display: inline-block;
    width: 2px;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: -10px;
    background-color: #ff6b08;
  }
}

// Auth MODAL window

.backdrop {
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 111;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  touch-action: none;
  overflow: hidden;
  overscroll-behavior: none;
}

.no-scroll {
  touch-action: none;
  overflow: hidden;
  overscroll-behavior: none;
}

.backdrop {
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

// Log in form
.signin-form {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 300px;
  height: 270px;

  padding: 30px;

  display: flex;
  flex-direction: column;

  background-color: #ffffff;
}

.signin-form__heading {
  text-transform: uppercase;
  font-weight: 400;
}

.signin-heading__wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: -30px;
  right: 50%;

  transform: translate(50%, 0%);

  height: 50px;
  width: auto;

  padding: 15px;
}

.signin-input__wrapper {
  position: relative;
}

.signin-form input {
  border-radius: 5px;

  width: 100%;
  height: 30px;

  padding-left: 30px;
}

.signin-input__email {
  margin-top: 20px;
}

.signin-input__psw {
  margin-top: 20px;
}

.key-icon,
.email-icon {
  position: absolute;

  width: 15px;
  height: 15px;

  bottom: 0;
  left: 10px;

  transform: translate(0, -50%);
}

.signin-form__massage {
  margin-top: 15px;
}

.signin-form button[type='submit'] {
  width: 50px;

  margin-top: 30px;

  margin-right: auto;
  margin-left: auto;

  color: #ff6b08;

  border: 2px solid #ff6b08;
}

.signin-form__close {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 10px;
  right: 10px;

  width: 25px;
  height: 25px;

  padding: 2px;

  border-radius: 50%;
  border-color: #000000;

  cursor: pointer;
}

// Reg form
.reg-form {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 300px;
  height: 450px;

  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #ffffff;
}

.reg-form__heading {
  text-transform: uppercase;
  font-weight: 400;
}

.reg-heading__wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: -30px;
  right: 50%;

  transform: translate(50%, 0%);

  height: 50px;
  width: auto;

  padding: 15px;
}

.reg-form__massage--top {
  margin-top: 15px;
}

.reg-input__wrapper {
  position: relative;
}

.reg-form input {
  border-radius: 5px;

  width: 100%;

  height: 30px;

  padding-left: 30px;
}

.key-icon,
.email-icon {
  position: absolute;

  width: 15px;
  height: 15px;

  bottom: 0;
  left: 10px;

  transform: translate(0, -50%);
}

.reg-input__psw {
  margin-top: 25px;
}

.reg-input__email {
  margin-top: 30px;
}

.reg-form__massage--bottom {
  margin-top: 30px;
}

.reg-form button[type='submit'] {
  width: 50px;

  margin-top: 25px;

  margin-right: auto;
  margin-left: auto;

  color: #ff6b08;

  border: 2px solid #ff6b08;
}

.reg-form__close {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 10px;
  right: 10px;

  width: 25px;
  height: 25px;

  padding: 2px;

  border-radius: 50%;
  border-color: #000000;

  cursor: pointer;
}

// Navigation
.header-nav {
  display: flex;
  justify-content: flex-end;

  margin: 0;
  padding-top: 33px;
  padding-right: 20px;

  //   @media screen and (min-width: 768px) {
  //     padding: 30px 71px 0 71px;
  //   }
}

.auth-btns__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.auth-btns__btn {
  text-transform: none;
}

.auth-btns__btn--signin {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    color: var(--color-hdr-main);
    display: inline-block;
    width: 2px;
    height: 100%;

    bottom: 0;
    right: -10px;
    background-color: var(--color-accent);
  }
}

// Auth MODAL window

// Это создавалось для эффекта, чтобы бекдром выезжал снизу а модалка сверху,
// но мен потом не понравилься результат

// .backdrop-overlay {
//   position: fixed;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 110;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);

//   //   transform: translateY(0%);
//   //   transform-origin: bottom;

//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &.is-hidden {
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
//     transform: translateY(100%);
//   }
// }

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 111;
  background-color: rgba(0, 0, 0, 0.5);

  height: 100%;
  overflow-y: scroll;

  //   Если оставить эти стили будет модалка опускаться вниз

  //   transform: translateY(0%);
  //   transform-origin: top;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    //   Если оставить эти стили будет модалка опускаться вниз
    // transform: translateY(-100%);
  }
}

// Log in form
.signin-form {
  position: absolute;
  top: 10%;
  left: 50%;

  transform: translate(-50%, 0%);

  width: 300px;
  height: 270px;

  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-hdr-main);

  @media screen and (min-width: 768px) {
    width: 500px;
    height: 330px;

    padding: 50px;
    padding-right: 70px;
    padding-left: 70px;
  }
}

.signin-form__heading {
  text-transform: uppercase;
  font-weight: 400;
}

.auth-modal__heading {
  padding: auto;
  min-width: 130px;
  min-height: 44px;

  text-align: center;

  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17em;

  color: var(--color-hdr-main);
  background: var(--color-accent);
  border-color: var(--color-hdr-main);
  border-radius: 5px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.signin-heading__wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: -30px;
  right: 50%;

  transform: translate(50%, 0%);

  height: 50px;
  width: auto;

  padding: 15px;
}

.signin-input__wrapper {
  position: relative;
}

.signin-form input {
  //   overflow: auto;
  border-radius: 5px;

  width: 250px;
  height: 30px;

  padding-left: 30px;

  &:hover {
    color: var(--color-accent);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.signin-input__email {
  margin-top: 20px;
}

.signin-input__psw {
  margin-top: 20px;
}

.key-icon,
.email-icon {
  position: absolute;

  width: 15px;
  height: 15px;

  bottom: 0;
  left: 10px;

  transform: translate(0, -50%);
}

.signin-form__massage {
  margin-top: 15px;
  color: var(--color-main);
}

.signin-form button[type='submit'] {
  width: 50px;

  margin-top: 30px;

  margin-right: auto;
  margin-left: auto;

  color: var(--color-accent);

  border: 2px solid var(--color-accent);

  @media screen and (min-width: 768px) {
    margin-top: 70px;
  }
}

.signin-form__close {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 10px;
  right: 10px;

  width: 25px;
  height: 25px;

  padding: 2px;

  border-radius: 50%;
  border-color: var(--color-main);

  cursor: pointer;

  &:hover {
    fill: var(--color-accent);
    border-color: var(--color-accent);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// Reg form
.reg-form {
  position: absolute;
  top: 10%;
  left: 50%;

  transform: translate(-50%, 0%);

  width: 300px;
  height: 450px;

  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-hdr-main);

  @media screen and (min-width: 768px) {
    width: 500px;
    height: 530px;

    padding: 50px;
    padding-right: 70px;
    padding-left: 70px;
  }
}

.reg-form__heading {
  text-transform: uppercase;
  font-weight: 400;
}

.reg-heading__wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: -30px;
  right: 50%;

  transform: translate(50%, 0%);

  height: 50px;
  width: auto;

  padding: 15px;
}

.reg-form__massage--top {
  margin-top: 15px;
  color: var(--color-main);
  text-align: center;
}

.reg-input__wrapper {
  position: relative;
}

.reg-form input {
  border-radius: 5px;

  width: 250px;

  height: 30px;

  padding-left: 30px;
}

.key-icon,
.email-icon {
  position: absolute;

  width: 15px;
  height: 15px;

  bottom: 0;
  left: 10px;

  transform: translate(0, -50%);
}

.reg-input__psw {
  margin-top: 25px;
}

.reg-input__email {
  margin-top: 30px;
}

.reg-form__massage--bottom {
  margin-top: 30px;
  color: var(--color-main);
  text-align: center;
}

.reg-form button[type='submit'] {
  width: 50px;

  margin-top: 25px;

  margin-right: auto;
  margin-left: auto;

  color: var(--color-accent);

  border: 2px solid var(--color-accent);

  @media screen and (min-width: 768px) {
    margin-top: 70px;
  }
}

.reg-form__close {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  top: 10px;
  right: 10px;

  width: 25px;
  height: 25px;

  padding: 2px;

  border-radius: 50%;
  border-color: var(--color-main);

  cursor: pointer;

  &:hover {
    fill: var(--color-accent);
    border-color: var(--color-accent);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

// Navigation
.header-nav {
  display: flex;
  justify-content: flex-end;

  margin: 0;

  list-style: none;
}

.header-nav__item:not(:first-child) {
  margin-left: 40px;
}

.header-nav__btn.current-page {
  position: relative;

  &:after {
    content: '';
    color: var(--color-hdr-main);
    display: inline-block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 0;
    background-color: var(--color-accent);
  }
}

// JS-content-box - will be changed dynamicly

.js-content-box {
  position: relative;
}

.search-form__wrapper {
  position: absolute;

  // display: flex;

  left: 50%;
  transform: translate(-50%);

  width: 100%;

  top: 30px;
}

.search-form {
  position: relative;

  width: 100%;
  display: flex;

  &:hover {
    transform: scale(1.05);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.search-form__input {
  padding: 0px;
  padding-bottom: 4px;
  padding-left: 2px;

  width: 100%;

  background: none;
  border-style: none;
  border-bottom: 0.5px solid #ffffff;

  color: #ffffff;

  &::placeholder {
    color: #ffffff;
  }
}

.search-form__submit {
  position: absolute;

  padding: 0;
  margin: 0;

  background: none;
  border-style: none;

  height: 20px;
  width: 20px;

  right: 0;
  bottom: 0;
}

.search-icon {
  position: absolute;

  bottom: 5px;
  right: 0;
}

.search-form {
  width: 336px;
  margin-left: auto;
  margin-right: auto;
}

.search-result-message {
  color: var(--color-hdr-warning);
  text-align: center;
  margin-top: 22px;

  //   ! ниже все ненужное, это текст - его можно по другому центрировать

  // position: absolute;

  //   display: flex;
  //   justify-content: center;
  //   align-items: flex-end;
  //   margin-top: 22px;
}

/* Library - is hidden on home page, but will appear after clicking 'My Library" */

.library-btns__list {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 0;
  margin-top: 29px;
}

.library-btns__item:not(:last-child) {
  margin-right: 20px;
}

.accent-btn {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.search-form {
  width: 336px;
  margin-left: auto;
  margin-right: auto;
}

// !удалить - такого класса уже нет

.is-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.search-result-message {
  color: #ff001b;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}

.header-localization {
  display: flex;
  justify-content: right;
  list-style: none;
  padding-right: 20px;
}

.header-localization__item {
  margin-left: 7px;
}
.header-localization__button {
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  width: 30px;
  height: 22px;
  &:hover,
  &:focus {
    transform: scale(1.1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header-localization__english {
  background-image: url(../images/us.svg);
}
.header-localization__russian {
  background-image: url(../images/ru-opt.svg);
}
.header-localization__ukrainian {
  background-image: url(../images/ua-opt.svg);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
